.DateTimeDropdown {
  position: relative;
}

.DateTimeDropdown input {
  width: 280px;
  height: 52px;
  border-radius: 6px 0px 0px 6px;
  outline: none;
}

.DateTimeDropdown-input {
  position: absolute;
  top: 0px;
  pointer-events: none;
  background-color: white;
  width: 280px;
  height: 56px;
  border-radius: 6px 0px 0px 6px;
}

.DateTimeDropdown-input-text {
  padding-top: 18px;
  padding-left: 20px;
  font-size: 15px;
  color: #6e8ca0;
}

.DateTimeDropdown-button {
  position: absolute;
  top: 0px;
  left: 280px;
  pointer-events: none;
  background-color: #d97d54;
  width: 56px;
  height: 56px;
  border-radius: 0px 6px 6px 0px;
}

.DateTimeDropdown-button img {
  padding-top: 20px;
  padding-left: 20px;
}
