.Button {
  width: 295px;
  height: 50px;
  color: white;
  box-shadow: 0px 3px 15px 2px rgba(27, 28, 32, 0.1);
  font-family: "rift-soft", sans-serif;
  border-radius: 35px;
  font-size: 14px;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  line-height: 49px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.Button-icon {
  vertical-align: middle;
  margin-right: 10px;
}
