.ActivityItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ActivityItem-icon {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 15px 0px rgba(27, 28, 32, 0.1);
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ActivityItem-icon.selected {
  background-color: #d97d54;
}

.ActivityItem-icon img {
  width: 35px;
  height: 35px;
}

.ActivityItem-icon-blank {
  background-color: #f0f3f4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-style: dashed;
  border-color: #c8d1d3;
  border-width: 1px;
}
