.ScheduledActivities {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.ScheduledActivities-header {
  padding: 20px 0px 20px 20px;
  font-weight: bold;
}

.ScheduledActivities-button {
  background-color: #d97d54;
}
