.ActivityCard {
  text-align: center;
  height: 182px;
  box-shadow: 6px 6px 15px 2px rgba(27, 28, 32, 0.1);
  border-radius: 15px;
  margin-bottom: 15px;
  position: relative;
}

.ActivityCard-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 16px;
}

.ActivityCard-header {
  color: #334856;
  font-size: 15px;
  font-weight: bold;
}

.ActivityCard-subtext {
  color: #7d8184;
  font-size: 10px;
  font-family: "rift-soft", sans-serif;
  letter-spacing: 2px;
}

.ActivityCard-icon {
  position: absolute;
  left: 46px;
  top: 84px;
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 6px 6px 15px 2px rgba(27, 28, 32, 0.1);
}

.ActivityCard-icon img {
  width: 28px;
  height: 28px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
