.TrackActivity {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.TrackActivity-header {
  padding: 20px 0px 20px 20px;
  font-weight: bold;
  line-height: 35px;
}

.TrackActivity-carousel {
  padding: 0px 0px 20px 15px;
}

.slick-slide {
  margin-right: 20px;
}
